<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ysxsoft.icsaas">
    <!-- 权限声明 -->
    <!-- 网络请求 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 访问网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 存储存取 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission
        android:name="android.permission.INTERNAL_SYSTEM_WINDOW"
        tools:ignore="ProtectedPermissions" />
    <!-- 多媒体 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".common_base.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />

        <activity android:name=".ui.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.LoginActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ui.activity.Tab1DetialActivity" />
        <activity android:name=".ui.activity.NewAddWaitDoActivity" />
        <activity android:name=".ui.activity.CompanyRegisterActivity" />
        <activity android:name=".ui.activity.SupplementaryContractActivity" />
        <activity android:name=".ui.activity.ContractManageActivity" />
        <activity android:name=".ui.activity.ContractWarningActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name=".ui.activity.OrderActivity" />
        <activity android:name=".ui.activity.OrderWarningActivity" />
        <activity android:name=".ui.activity.CreateContractActivity" />
        <activity android:name=".ui.activity.ServiceProjectActivity" />
        <activity android:name=".ui.activity.ContractDetailActivity" />
        <activity android:name=".ui.activity.EditContractActivity" />
        <activity android:name=".ui.activity.ContractRenewalActivity" />
        <activity android:name=".ui.activity.OrderDetailActivity" />
        <activity android:name=".ui.activity.EditPayBackMoneyActivity" />
        <activity android:name=".ui.activity.FileCirculationActivity" />
        <activity android:name=".ui.activity.FileApplyActivity" />
        <activity android:name=".ui.activity.FileSendActivity" />
        <activity android:name=".ui.activity.ApplyDetialActivity" />
        <activity android:name=".ui.activity.SendDetailActivity" />
        <!-- 7.0读写权限 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.ysxsoft.icsaas.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>